{% set route = app.request.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">        <script src="https://use.fontawesome.com/0e53e6d1a4.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />

        {% stylesheets filter='cssrewrite'
            'bundles/app/css/main.css'
            'bundles/app/css/tether.css'
            'bundles/app/css/tether-theme-basic.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

            {% block navbar %}
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="container">
                        <a class="navbar-brand" href="{{ url('app_home_get') }}">Thesis manager</a>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">

                                <li class="nav-item {% if route == 'app_home_get' %}active{% endif %}">
                                    <a class="nav-link" href="{{ url('app_home_get') }}"><span class="fa fa-home"></span></a>
                                </li>
                                {% if is_granted('ROLE_STUDENT') %}
                                    <li class="nav-item {% if route == 'app_topics_get' %}active{% endif %}">
                                        <a class="nav-link" href="{{ url('app_topics_get') }}">Topics</a>
                                    </li>
                                    {% if app.user.theses.count == 1 %}
                                    <li class="nav-item {% if route == 'app_topics_get' %}active{% endif %}">
                                        <a class="nav-link" href="{{ url('app_thesis_get', {thesis: app.user.theses.first.id}) }}">Thesis</a>
                                    </li>
                                    {% elseif app.user.theses.count > 1 %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#"
                                           id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Theses
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="responsiveNavbarDropdown">
                                            {% for thesis in app.user.theses %}
                                            <a class="dropdown-item" href="{{ url('app_thesis_get', {thesis: thesis.id}) }}">
                                                {{ thesis.title }}
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    {% endif %}

                                {% endif %}
                            </ul>

                            <ul class="nav navbar-nav float-lg-right">
                                {% if is_granted('ROLE_USER') %}
                                    {% if is_granted('ROLE_TEACHER') %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#"
                                           id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Supervisor
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="responsiveNavbarDropdown">
                                            <a class="dropdown-item" href="{{ url('app_theses_get', {type: 'supervised'}) }}">
                                                <span class="fa fa-book"></span> Supervised theses
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#"
                                           id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Reviewer
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="responsiveNavbarDropdown">
                                            <a class="dropdown-item" href="{{ url('app_theses_get', {type: 'to-review'}) }}">
                                                <span class="fa fa-book"></span> Theses to review
                                            </a>
                                        </div>
                                    </li>
                                    {% endif %}

                                    {% if is_granted('ROLE_DEAN') %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#"
                                               id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                Dean
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="responsiveNavbarDropdown">
                                                <a class="dropdown-item" href="{{ url('app_theses_get', {type: 'all'}) }}">
                                                    <span class="fa fa-book"></span> Theses
                                                </a>
                                                <a class="dropdown-item" href="{{ url('app_theses_choose_reviewers_get') }}">
                                                    <span class="fa fa-book"></span> Choose Reviewers
                                                </a>
                                            </div>
                                        </li>
                                    {% endif %}


                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#"
                                           id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="fa fa-user"></span>
                                            {{ app.user.fullName }}
                                            <span class="badge badge-default">{{ app.user.type }}</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="responsiveNavbarDropdown">
                                            <a class="dropdown-item" href="{{ url('app_logout') }}">
                                                <span class="fa fa-sign-out"></span> Logout
                                            </a>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url('app_login_get') }}">Login</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}

            <div class="container-fluid">
                <div class="container">
                    {% block content %}

                    {% endblock %}
                </div>

                {% block footer %}
                <div class="container">
                    <div class="footer">
                        <div class="copyright">
                            Thesis Manager &copy; 2017
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>

        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>

        {% javascripts 'bundles/app/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <script>
            $(function() {
                $('.dropdown-toggle').dropdown();
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
