{% extends 'AppBundle::base.html.twig' %}

{% block content %}

    <div class="container" xmlns:v-on="http://www.w3.org/1999/xhtml">

        <div class="box reviewers-list" id="reviewers-list">
            <div class="box-header"><h2>Reviewer Available</h2></div>
            <div class="box-body">

                <div class="clearfix reviewers-list--panel">
                    <div class="pull-left reviewer-list--panel--info" v-show="loaded">
                        {#{% set topicsLength = topics | length %}#}
                        {#{{ topicsLength }} reviewers{% if topicsLength != 1 %}s{% endif %}#}
                        {{ '{{ filteredTopics.length }} reviewer' }}
                    </div>
                    <div class="pull-right reviewer-list--panel--filter" v-show="loaded">
                        <input class="form-control" v-model.trim="query" type="text" placeholder="Search...">
                    </div>
                </div><!-- /reviewer-list--panel -->

                <span class="fa fa-spin fa-circle-o-notch loader" v-show="!loaded"></span>

                <table class="table table-bordered table-hover table-sm reviewer-list--table" v-show="loaded" style="display: none;">
                    <thead class="thread-default">
                    <tr>
                        <th>Reviewer</th>
                        <th>Taken</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="reviewer in filteredTopics">
                        <td>{{ '{{ reviewer }}' }}</td>
                        <td>
                            <button v-on:click="apply(reviewer.id)" class="btn btn-link" type="button">Apply</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div> <!-- /container -->

{% endblock %}

{% block javascripts %}
    <script>
        new Vue({
            el: '#reviewer-list',
            data: {
                loaded: false,
                query: '',
                topics: []
            },
            computed: {
                filteredTopics: function() {
                    var q = this.query.toLowerCase();
                    if (q.length == 0) {
                        return this.topics;
                    } else {
                        return this.topics.filter(function(t) {
                            return t.title.toLowerCase().indexOf(q) > -1
                                || t.supervisor.fullName.toLowerCase().indexOf(q) > -1;
                        });
                    }
                }
            },
            created: function() {
                $.get('/reviewers/ajax', function(data) {
                    this.$data.topics = data.list;
                    this.$data.loaded = true;
                }.bind(this));
            },
            methods: {
                apply: function(id) {
                    alert(id);
                }
            }
        });
    </script>
{% endblock %}