{% extends 'AppBundle::base.html.twig' %}

{% block content %}

    <div class="container">

        <div class="box topics-list" id="topics-list">
            <div class="box-header"><h2>Topics Available</h2></div>
            <div class="box-body">

                <div class="clearfix topics-list--panel">
                    <div class="pull-left topics-list--panel--info" v-show="loaded">
                        {#{% set topicsLength = topics | length %}#}
                        {#{{ topicsLength }} topic{% if topicsLength != 1 %}s{% endif %}#}
                        {{ '{{ filteredTopics.length }} topics' }}
                    </div>
                    <div class="pull-right topics-list--panel--filter" v-show="loaded">
                        <input class="form-control" v-model.trim="query" type="text" placeholder="Search...">
                    </div>
                </div><!-- /topics-list--panel -->

                <span class="fa fa-spin fa-circle-o-notch loader" v-show="!loaded"></span>

                <table class="table table-bordered table-hover table-sm topics-list--table" v-show="loaded" style="display: none;">
                    <thead class="thead-default">
                    <tr>
                        <th>Topic</th>
                        <th>Supervisor</th>
                        <th>Taken</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="topic in filteredTopics">
                            <td>{{ '{{ topic.title }}' }}</td>
                            <td>{{ '{{ topic.supervisor.fullName }}' }}</td>
                            <td>{{ '{{ topic.reservations.count }}' }}</td>
                            <td>
                                <button @click="apply($event, topic.id)" class="btn btn-link" type="button">Apply</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div> <!-- /container -->

{% endblock %}

{% block javascripts %}
<script>
    new Vue({
        el: '#topics-list',
        data: {
            loaded: false,
            query: '',
            topics: []
        },
        computed: {
            filteredTopics: function() {
                var q = this.query.toLowerCase();
                if (q.length == 0) {
                    return this.topics;
                } else {
                    return this.topics.filter(function(t) {
                        return t.title.toLowerCase().indexOf(q) > -1
                            || t.supervisor.fullName.toLowerCase().indexOf(q) > -1;
                    });
                }
            }
        },
        created: function() {
            $.get('/topics/ajax', function(data) {
                this.topics = data.list;
                this.loaded = true;
            }.bind(this));
        },
        methods: {
            apply: function(event, id) {
//                this.topics.
                $.post('/topics/'+id+'/reserve', function(data) {

                }.bind(this));
            }
        }
    });
</script>
{% endblock %}